.fristcls{
  width: 50% !important;
}
.secondcls{
  width: 50% !important;
}
.radiusbtn{
  background-color: #4f4fff;
  /* border-radius: 95px solid blue; */
  border: 0px solid;
  border-radius: 6px;
}